:root{
    --mainColor: rgb(214, 65, 45);
    --textColor:rgb(187, 187, 187);
    --hoverText:grey;
    --darkBackgroundColor:rgb(26, 26, 26);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
nav{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px 0 black;
}
.navbar-brand{
    font-size: 1.5em;
}
.nav-link:hover{
    color: var(--hoverText) !important;
}
button{
    padding: 1em;
    border: none;
    background-color: rgb(214, 65, 45);
    color: white;
    box-shadow: 0 0 10px 0 black;
    border-radius: 0.5em;
}
main{
    padding-top: 3em;
}
.hero{
    background-image: url("./img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.hero::before {
    content: ""; /* Obligatorio para un pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Color y opacidad del overlay */
    z-index: 1; /* Asegura que el overlay esté por encima de la imagen de fondo */
}
.hero h1{
    font-size: 3.5em;
}
.hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Asegura que el contenido esté por encima del overlay */
}
.hero .text-content{
    display: flex;
    flex-direction: column;
    color: var(--textColor);
}
.hero button{
    display: block;
    justify-content: center;
    align-items: center;
}
.hero .whatsapp{
    font-size: 1em;

}
.servicios-container p{
    color: var(--textColor) !important;
}
.servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.servicio{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
}
h2{
    font-size: 3em;
}
.card{
    border-radius: 1em 1em 0 0 !important;
    background-color: rgb(26, 26, 26);
    height: 32em;
    border-radius: 1em !important;
}
.card img{
    height: 400px;
    object-fit: cover;
    object-position: center top;
    border-radius: 1em 1em 0 0;
}
.card-body{
    padding: 1em;
}
.call-to-action{
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 3em;
    background-color: rgb(26, 26, 26);
}
.text-content{
    color: var(--textColor);
}
.cta{
    padding: 4em;
}
.cta h4{
    font-size: 2em;
}
.cta p{
    margin-bottom: 3em;
}
.cta a{
    border: 1px solid white;
    border-radius: 2em; 
    text-decoration: none;
    color: white;
    padding: 1em;
}
.cta a:hover{
    background-color: rgb(190, 55, 38);
}

footer{
    padding-top: 3em !important;
    padding: 2em;
    background-color: var(--darkBackgroundColor);
}
footer .container .row div p{
    color: var(--textColor);
}
.list-inline{
    margin-top: 1em;
}
.list-inline-item{
    padding: 0.5em;
}
.list-inline-item:hover{
    color: rgb(214, 65, 45);
}
.copyright{
    margin-top: 2em;
}

.active{
    color: rgb(214, 65, 45) !important;
}
i{
    margin-bottom: 1em;
    font-size: 2em;
}
.call-btn{
    border-radius: 1em;
    border: 1px solid white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color: white;
    margin: auto;
}
.call-btn:hover{
    color: rgb(214, 65, 45);
    border: 1px solid rgb(214, 65, 45);
}
.form-control{
    background-color: rgb(51, 51, 51) !important;
    border: none;
    color: white !important;
    padding: 1em;
    font-size: 1em;
}
.form-control:focus{
    box-shadow: none !important;
    outline: none;
    border: 1px rgb(214, 65, 45) solid;
}

/* Responsividad */
@media (max-width: 576px){
    body{
        font-size: 1em;
    }
    h2{
        font-size: 2em;
    }
    .hero{
        margin-top: 2em;
        background-size: contain;
    }
    .title h1{
        font-size: 2.2em;
    }
    .servicios{
        display: flex;
        flex-direction: column;
    }
    .servicios i{
        font-size: 3em;
    }
    .card{
        height: 30em;
        margin: 1em auto;
    }
    .call-to-action{
        border-radius: 0;
    }
    footer .container .row{
        display: grid;
        gap: 2em;
    }

    .contacto{
        margin-top: 0 !important;
    }
}